.menu {
  display: flex;
  justify-content: space-around;
  background-color: #462d2d;
  padding: 10px;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: #af96e9;
}

.menu__link i {
  display: inline-block;
  transform: skew(-10deg);
  animation: distort 1s linear infinite alternate;
}

@keyframes distort {
  0% {
    transform: skew(-10deg);
  }
  100% {
    transform: skew(-10deg) translateX(10px) rotate(-40deg);
  }
}
